<ion-app>
  <ion-header>
    <ion-toolbar>
      <ion-title>Capacitor Sim Demo</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <div class="flex min-h-full flex-col items-start space-y-6 p-8">
      <div *ngIf="basicDeviceInformation$ | async as basicDeviceInformation">
        <p>Device Information:</p>
        <pre>{{ basicDeviceInformation | json }}</pre>
      </div>

      <ion-button class="font-mono normal-case" (click)="getSimCards()">getSimCards()</ion-button>

      <div *ngIf="simCards">
        <ng-container *ngIf="simCards.length > 0; else noSimCard">
          <p>Result:</p>
          <pre>{{ simCards | json }}</pre>
        </ng-container>

        <ng-template #noSimCard>
          <p>Result:</p>
          <p>No Sim Card on this device.</p>
        </ng-template>
      </div>
    </div>
  </ion-content>
</ion-app>
